.btn {
    text-transform: uppercase;
    color: #fff;
    padding: 0 !important;
    font-size: 5em;
    line-height: 90px;
    height: 100px;
    width: 100%;
}
.btn:hover {
    color: #fff;
}
.btn span {
    display: block;
}

/* CORES */
.btn.green {
    background-color: #16856a;
}
.btn.green span {
    background-color: #16a085;
}

.btn.blue {
    background-color: #72a8d2;
}
.btn.blue span {
    background-color: #85c6f7;
}

.btn.pink {
    background-color: #bd2040;
}
.btn.pink span {
    background-color: #ff2a54;
}

.btn-row {
    /*padding: 240px 0;*/
}

.thanks-text p {
    font-size: 5em;
}

.opacity0 {
    opacity: 0;
    transition:opacity 0.3s linear;
}

.opacity1 {
    opacity: 1;
    transition:opacity 0.6s linear;
}